<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<form target="_self" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <table>
        <tr>
            <th><label for="id_username">Username:</label></th>
            <td><input type="text" required id="id_username" name="username"/></td>
            <th><label for="id_email">Enter Email:</label></th>
            <td><input type="email" required id="id_email" name="email"/></td>
            <th><label for="id_password">Password:</label></th>
            <td><input type="password" required id="id_password" name="password"/></td>
            <th><label for="id_publicKey">Enter your public Key:</label></th>
            <td><input type="text" required id="id_publicKey" name="publicKey"/></td>
        </tr>

        <tr>
            <th><label for="id_bio">Bio:</label></th>
            <td>
                <textarea name="bio" cols="40" rows="10" maxlength="500" id="id_bio"></textarea>
            </td>
        </tr>

        <tr>
            <th><label for="id_proof_of_identity">Proof of Identity:</label></th>
            <td>
                <input type="file" name="proof_of_identity" required id="id_proof_of_identity">
            </td>
        </tr>

        <tr>
            <th><label for="id_proof_of_address">Proof of Address:</label></th>
            <td>
                <input type="file" name="proof_of_address" required id="id_proof_of_address">
            </td>
        </tr>
        <tr>
            <th><label for="id_medical_documents">Medical Documents:</label></th>
            <td>
                <input type="file" name="medical_documents" id="id_medical_documents">
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>
</body>
</html>