{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Profile</title>
</head>
<body>
<h2 class="text-center">{{ object.full_name }}</h2>
<p>About Us: {{ object.bio }}</p>
<p>Email: {{ user.email }}</p>
    <div>
    <p>My Documents</p>
    <div>
    
    <div>
        {% for document in docs %}
        <li>
            <a href="/medimode/media/private/{{ document.1.doc_file.name }}">{{ document.0 }}</a>
        </li>
        {% endfor %}
    </div>
 
    
</body>
</html>