<form target="_self" method="post" enctype="multipart/form-data">
	<table>
		{% csrf_token %}
		<tr>
			<th><label for="id_doc_files">Uploads:</label></th>
			<td>
				<input type="file" name="doc_files" id="id_doc_files">
			</td>
			<th><label for="id_shareables">Shareables [Defunct]:</label></th>
			<td>
				<select name="shareables" id="id_shareables" multiple>
					{% for shareable in shareables %}
						<option value="{{ shareable.pk }}">{{ shareable.filename }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<th><label for="id_description">Description:</label></th>
			<td>
      <textarea name="description" cols="40" rows="10" maxlength="32000" required id="id_description">
			</textarea>
			</td>
		</tr>
		<tr>
			<th><label for="id_otp">OTP:</label></th>
			<td>
				<input type="number" name="otp" required id="id_otp"/>
			</td>
			<input type="hidden" id="id_ticket_id" name="ticket_id" value="{{ ticket_id }}"/>
		</tr>
		{% if issued %}
			<input type="hidden" id="id_issued_to" name="issued_to" value="{{ issued }}"/>
		{% else %}
			<tr>
				<th>Issued To:</th>
				<td>
					<select type="hidden" id="id_issued_to" name="issued_to">
						{% for profile in targets %}
							<option value="{{ profile.id }}">{{ profile.full_name }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
		{% endif %}
		<tr>
			<td><input type="submit" value="Submit"></td>
		</tr>
	</table>
</form>