{% load static %}
<link href="{% static 'home.css' %}" rel="stylesheet" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% include 'navbar.html' %}
<form target="_self" method="post" enctype="multipart/form-data">
	<table>
		{% csrf_token %}
		<tr>
			<th><label for="id_doc_files">Uploads:</label></th>
			<td>
				<input type="file" name="doc_files" id="id_doc_files">
			</td>
			<th><label for="id_shareables">Shareables:</label></th>
			<td>
				<select name="shareables" id="id_shareables" multiple>
					{% for shareable in shareables %}
						<option value="{{ shareable.pk }}">{{ shareable.filename }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<th><label for="id_description">Description:</label></th>
			<td>
      <textarea name="description" cols="40" rows="10" maxlength="32000" required id="id_description">
			</textarea>
			</td>
		</tr>
		<tr>
			<th><label for="id_otp">OTP:</label></th>
			<td>
				<input type="number" name="otp" required id="id_otp"/>
			</td>
			<input type="hidden" id="id_ticket_id" name="ticket_id" value="{{ ticket_id }}"/>
		</tr>
		{% if issued %}
			<input type="hidden" id="id_issued_to" name="issued_to" value="{{ issued }}"/>
		{% else %}
			<tr>
				<th>Issued To:</th>
				<td>
					<select type="hidden" id="id_issued_to" name="issued_to">
						{% for profile in targets %}
							<option value="{{ profile.id }}">{{ profile.full_name }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
		{% endif %}
		<tr>
			<td><button type="submit" hidden id="submit_form" value="Submit"></button>
			<button id="dummy" type="button">Submit</button>
			</td>
		</tr>
	</table>
</form>
<script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js"
        type="application/javascript"></script>
<script>
    const CONTRACT_ADDR = "0xA73a358449Dd178C45d69dEc954E10361a6a6059"
    const PROVIDER = new ethers.providers.AlchemyProvider("goerli", "J515gryHHGjksvLy6t6l0_VTwRSdEsJJ")
    const provider = new ethers.providers.Web3Provider(window.ethereum)
    document.getElementById("dummy").onclick = async () => {await put_file_on_blockchain();}

    async function put_file_on_blockchain(){
        await provider.send("eth_requestAccounts", []);
        const signer = provider.getSigner()
        const ABI = await fetch("{% static 'abi.json' %}").then(response => response.json()).then(data => {return(data)})
        const contract = new ethers.Contract(CONTRACT_ADDR, ABI, PROVIDER).connect(signer)

        const myfile = document.getElementById('id_doc_files').files[0];
        if (!myfile){
            document.getElementById("submit_form").click()
        }
        text = await new Promise((resolve) => {
            let fileReader = new FileReader();
            fileReader.onload = (e) => resolve(fileReader.result);
            fileReader.readAsText(myfile);
        });
        const _hash = ethers.utils.sha256(ethers.utils.toUtf8Bytes(text))
        await contract.depositHash(_hash)
        document.getElementById("submit_form").click()
    }
</script>
