{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approve Users</title>
    <link href="{% static 'home.css' %}" rel="stylesheet" />
  
</head>
<body>
{% block content %}
    <form target="_self" method="post">
        {% csrf_token %}
        <div class="centre">
            <select multiple required id="id_approved_users" name="approved_users">
                {% for user in object_list %}
                    <option value={{user.id}}>{{ user.full_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
        <button type="button" onclick ="fetch_documents()" >Fetch Documents</button>
        <div>
        <div id="id_documents">

        </div>
        <input type="submit" value="Approve  Users">
    </form>
    <div class="centre">
        <a href="/medimode/remove_users">Remove users</a>
    </div>
    <div class="Profile">        
        <div class="menu-toggle">
            <button class="shit"></button> 
            <img height="50px" src="https://i.pinimg.com/564x/a6/d5/b4/a6d5b418cbbd6665511833ec139e7aa7.jpg">
        </div>
        <aside class="sidebar">
            <h3>Menu</h3>
            <nav class="menu">
                <a href="/medimode/logout" class="menu-item">Logout</a>
            </nav>
        </aside>
        <script>
            const menu_toggle = document.querySelector('.menu-toggle');
            const sidebar = document.querySelector('.sidebar');
    
            menu_toggle.addEventListener('click', () => {
                menu_toggle.classList.toggle('is-active');
                sidebar.classList.toggle('is-active');
            });
        </script>
    </div>
{% endblock %}
<script>
	function fetch_documents(){
		const user_id = document.querySelector('#id_approved_users').value;
		fetch("/medimode/user_documents", {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
					'X-CSRFToken': '{{ csrf_token }}'
			},
			redirect: 'manual',
			body: JSON.stringify({"profile_id": user_id, "csrf_token": '{{ csrf_token }}'})
		}).then((response) => response.json()).then((data) => {
        let toput = ""
        data.forEach((doc) => {
            toput += doc["key"]+": <a href=/medimode/media/verify/"+doc["filepath"]+">"+doc["filename"]+"</a><br/>"
        })
        document.getElementById("id_documents").innerHTML=toput
			})
	}
</script>
</body>
</html>
