{% load static %}
{% include 'navbar.html' %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="{% static 'home.css' %}" rel="stylesheet" />
<form action="/medimode/share_document" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <tr>
        <th><label for="id_doc_file">Doc file:</label></th>
        <td>
            <input type="file" name="doc_file" required id="id_doc_file">
        </td>
    </tr>

    <tr>
        <th><label for="id_filename">Filename:</label></th>
        <td>
            <input type="text" name="filename" maxlength="100" required id="id_filename">
        </td>
    </tr>

    <tr>
        <th><label for="id_shared_with">Shared with:</label></th>
        <td>
            <select name="shared_with" id="id_shared_with" multiple>
                {% for profile in profiles %}
		{% if profile.approved == 1 %}
                    <option value="{{ profile.pk }}">{{ profile.full_name }}</option>
		    {% endif %}
                {% endfor %}
            </select>
        </td>
    </tr>
    <input type="submit" value="Submit">
</form>
