<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Document</title>
</head>
<body>
{% block content %}
    <ul>
        {% for document in object_list %}
            <li>{{ document.filename }} -
                <a href="/medimode/media/verify/{{ document.doc_file.name }}">Fetch</a>
                <a href="/medimode/media/{{ document.doc_file.name }}">Fetch (Unverified)</a>
                <a href="/medimode/media/delete/{{ document.doc_file.name }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
</body>
</html>
