{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Document</title>
    <link href="{% static 'home.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    {% include 'navbar.html' %}
{% block content %}
    <ul>
        {% for document in object_list %}
            <li>{{ document.filename }} -
                <a href="/medimode/media/verify/{{ document.doc_file.name }}">Fetch</a>
	            {% if document.owner == user.profile %}
                <a href="/medimode/media/delete/{{ document.doc_file.name }}">Delete</a>
              {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
</body>
</html>
