<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket Information</title>
</head>
<body>
<p>Issued by: {{ object.issuer }}</p>
<p>Issued to: {{ object.issued }}</p>
<p>Description: {{ object.description }}</p>
<br><br>
<form enctype="multipart/form-data" target="_self">
    Create Transaction of Value: <input type="number" name="money" id="id_money"/><br>
    <select name="moneyreq" id="id_moneyreq">
        <option id="req">Request</option>
        <option id="pay">Pay</option>
    </select><br>
    <input type="file" value="Upload Documents" multiple/><br>
    <input type="submit">
</form>
</body>
</html>