<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ticket Information</title>
</head>
<body>
<p>Issued by: {{ object.issuer }}</p>
<p>Issued to: {{ object.issued }}</p>
<p>Description: {{ object.description }}</p>
<br><br>
<form enctype="multipart/form-data" target="_self">
	<table>
		<tr>
			<th>Transaction Amount:</th>
			<td><input type="number" name="money" id="id_money"/></td>
		<tr>
			<td>
				<select name="moneyreq" id="id_moneyreq">
					<option id="req">Request</option>
					<option id="pay">Pay</option>
				</select><br>
			</td>
			<td>
				<button value="transaction">Create Transaction</button>
			</td>
		</tr>
		<tr><td>| </td></tr>
		<tr>
			<td><input type="file" value="Upload Documents" multiple/><br></td>
			<td><input type="submit" value="Attach"></td>
		</tr>
	</table>
</form>
</body>
</html>