{% load static %}
<div class="OTP keypad">
    <script src="{% static 'otp.js' %}"></script>
    <input type="number" name="otp" required id="id_otp"/>
    <div id="VirtualKeyboard">
        <input type="button" value="1" onclick="input(1);" />
        <input type="button" value="2" onclick="input(2);" />
        <input type="button" value="3" onclick="input(3);" />
        <br />
        <input type="button" value="4" onclick="input(4);" />
        <input type="button" value="5" onclick="input(5);" />
        <input type="button" value="6" onclick="input(6);" />
        <br />
        <input type="button" value="7" onclick="input(7);" />
        <input type="button" value="8" onclick="input(8);" />
        <input type="button" value="9" onclick="input(9);" />
        <br />
        <input type="button" value="0" onclick="input(0)" />
        <input type="button" value="Backspace" onclick="deleting_val();" />
    </div>
</div>